body {
  background-color: black;
  color:            white;
  font-family:      sans-serif;
  margin-left:      auto;
  margin-right:     auto;
  width:            900px;
}
img,canvas {
  display:       block;
  margin-left:   auto;
  margin-right:  auto;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
}
footer {
  text-align: center;
}
